.inputsty{
    width: 32%;
    margin-bottom: 30px;
    margin-left: 18px;
    background-color: rgb(235, 235, 235);
    border: none;

}
.tab{
    padding: 8px;
}
.lifontsz {
    font-size: smaller;
}